node_modules
.git
.gitignore
.tanstack
.vscode
.zed
.nitro
.output
.wrangler

.env*
!.env.example

infra
Pulumi*.yaml
Pulumi.yaml

Dockerfile
.dockerignore
opencode.json
biome.json
components.json
tsr.config.json
AGENTS.md

codedb.snapshot
*.gen.ts
