# Code
node_modules
.DS_Store
.env*
.nitro
.tanstack
.wrangler
.output
*.gen.ts

# AI
docs
AGENTS.md
CONTEXT.md
codedb.snapshot

# Dev Tooling
.git
.gitignore
.husky
.zed
.vscode

# CI/CD
infra
Pulumi*.yaml
Dockerfile
.dockerignore
